body .RaSidebar-fixed-39 {
  background-color: #f4f0cb;
}

body .RaSidebar-fixed-172 {
  background-color: #f4f0cb;
}

body .RaSidebar-fixed-54 {
  background-color: #f4f0cb;
}

body #main-content {
  background-color: #f4f0cb;
}

body .MuiAppBar-colorSecondary {
  background-color: #f8f8f8;
  color: black;
}
